@inject NavigationManager NavigationManager

@if (server != null)
{
    <tr @key="server.Id" style="background-color:@GetBackgroundColor()">
        <td>@server.Name</td>
        <td>@server.City</td>
        <td style="color:@((server.IsOnline ? "green" : "red"))">
                @(server.IsOnline ? "Online" : "Offline")
        </td>
        <td>
            @if (server.IsOnline)
            {
                Random random = new Random();
                int randomNumber = random.Next(1, 500);
                <text>@randomNumber</text>
            }
            else
            {
                <text>N/A</text>
            }
        </td>
        <td>
            @if (server.IsOnline)
            {
                <button type="button" class="btn btn-outline-danger" @onclick="@(() => { server.IsOnline = false; })">Turn Off</button>
            }
            else
            {
                <button type="button" class="btn btn-outline-success" @onclick="@(() => { server.IsOnline = true; })">Turn On</button>
            }
            &nbsp;
            <a href="/servers/edit/@server.Id" class="btn btn-link">Edit</a>
        </td>
        <td>
            <EditForm Model="server"
                      FormName="@($"form.server-{server.Id}")"
                      OnValidSubmit="@(() => { DeleteServer(server.Id); })" 
                      style="@($"background-color:{GetBackgroundColor()}")">
                <button type="submit" class="btn btn-primary">Delete</button>
            </EditForm>
        </td>
    </tr>
}

@code {

    [Parameter]
    public Server? server { get; set; }

    [CascadingParameter(Name = "SelectedCity")]
    private string? selectedCity { get; set; }

    private void DeleteServer(int serverId)
    {
        if (serverId > 0)
        {
            ServersRepository.DeleteServer(serverId);
            NavigationManager.NavigateTo("/servers", true);
        }
    }

    private string GetBackgroundColor()
    {
        if (selectedCity != null)
        {
            switch (selectedCity.ToLower())
            {
                case "toronto": return "#f0f8ff";
                case "vancouver": return "#e6ffe6";
                case "montreal": return "#fff0f5";
                case "ottawa": return "#ere34s";
                case "calgary": return "pink";
                case "halifax": return "#white";
                default: return "transparent";
            }
        }
        return "transparent";
    }
}